<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1>Esta es la pagina de error</h1>
<h2>Ir a /products/registerProduct para registrar</h2>
<h2>Ir a /products/modificarProduct/:id para modificar</h2>
<h2>Ir a /products/eliminarProduct/:id para modificar</h2>
<h2>Ir a /products/listaCompleta para la lista completa</h2>
  </body>
</html>
