<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>El ID se genera automaticamente. No hace falta incluirlo en el formulario.</h1>
    <form action="/products/registerProduct" method="POST">
      <div>
        <h3>Nombre del producto:</h3>
        <input type="text" name="nombre">
      </div>
      <div>
        <h3>Descripcion:</h3>
        <input type="text" name="descripcion">
      </div>
      <div>
        <h3>Precio:</h3>
        <input type="text" name="precio">
      </div>
      <div>
        <h3>Stock:</h3>
        <input type="text" name="stock">
      </div>
      <div>
        <h3>Marca:</h3>
        <input type="text" name="marca">
      </div>
      <div>
        <button type="submit" style="margin-top:10px">Registrar Producto</button>
      </div>
    </form>
  </body>
</html>
